{% extends "template.html" %}
{% block content %}

  
    <h1>Klassifiziere dein Gebäck</h1>
    <p>
      Das gewählte DatenSet besteht aus den Kategorien Brezel, Kornspitz, Mohnflesser und Semmel. Zum Trainieren des Learners wurden rund 430 Bilder der Gebäcksorten verwendet.
    </p>
    <h2>Versuche ein Bild eines Gebäcks zu analysieren</h2>
    <small>Wählen sie ein Bild aus und klicken Sie auf "Analysieren"!</small>

      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      
      <div class='upload-label'>
        <label id='upload-label' class="label label-primary">Keine Datei ausgewählt</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='btn btn-primary' type='button' onclick='analyze()'>Analysieren</button>
      </div>
      
      <div id="results" style="display: none;">
        <div class="table-responsive">
          <table class="table">
            <colgroup>
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 75%;">              
            </colgroup>
            <thead>
              <tr>
                <th><span class="text-center">Gebäcksorte</span></th>
                <th><span class="text-center">Wahrscheinlichkeit</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span id="label_1" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">                  
                    <div id="progressbar_1" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td> 
              </tr>
              <tr>
                <td>
                  <span id="label_2" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">
                    <div id="progressbar_2" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span id="label_3" class="label label-primary">test</span>
                </td>
                <td>              
                  <div class="progress">
                    <div id="progressbar_3" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <span id="label_4" class="label label-primary">test</span>
                </td>
                <td>
                  <div class="progress">
                    <div id="progressbar_4" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">            
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
   
    
  
{% endblock %}